*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media screen and (min-width: 48em) {
  html {
    font-size: 75%;
  }
}

body {
  background: url("../assets/images/background-pattern-mobile.svg") no-repeat, hsl(275, 100%, 97%);
  background-position: top;
  background-size: contain;
  min-height: 100vh;
  padding: 15vh 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: start;
}
@media screen and (min-width: 48em) {
  body {
    background: url("../assets/images/background-pattern-desktop.svg") no-repeat, hsl(275, 100%, 97%);
    background-size: 100%;
  }
}

img,
picture,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

ul[class] {
  list-style: none;
}

@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
}
body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
}
@media screen and (min-width: 48em) {
  body {
    font-size: 1.5rem;
  }
}

h1,
h2,
h3,
p {
  word-wrap: break-word;
}

h1 {
  font-size: 3rem;
  color: hsl(292, 42%, 14%);
}
@media screen and (min-width: 48em) {
  h1 {
    font-size: 5rem;
  }
}

.faq {
  background-color: hsl(0, 0%, 100%);
  padding: 2.6rem;
  color: hsl(292, 16%, 49%);
  max-width: 50rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
}
@media screen and (min-width: 48em) {
  .faq {
    padding: 3rem 3rem 1rem;
    border-radius: 19px;
  }
}
.faq__header {
  display: flex;
  gap: 2rem;
}
.faq__icon {
  width: 2.6rem;
}
@media screen and (min-width: 48em) {
  .faq__icon {
    width: 3.2rem;
  }
}
.faq__list-item:not(:last-child) {
  border-bottom: 1px solid hsl(275, 100%, 97%);
}
.faq__list-item--collapse .faq__answer {
  margin-bottom: 0;
  visibility: hidden;
  opacity: 0;
  height: 0;
}
.faq__list-item--collapse .faq__question-toggle-icon--minus {
  opacity: 0;
}
.faq__list-item:not(.faq__list-item--collapse) .faq__question-toggle-icon--plus {
  opacity: 0;
}
.faq__question-icon-container {
  position: relative;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
}
.faq__question-btn {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr auto;
  gap: 2rem;
  align-items: center;
  justify-items: start;
  margin: 2rem 0;
  border: none;
  background: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: hsl(292, 42%, 14%);
  line-height: 1.2;
  cursor: pointer;
  text-decoration: none;
  text-align: left;
}
.faq__question-btn:hover, .faq__question-btn:focus, .faq__question-btn:active {
  color: #71327b;
}
.faq__question-btn:focus {
  outline-color: currentColor;
  outline-offset: 3px;
}
.faq__answer {
  margin-bottom: 2rem;
  transition: all 0.2s ease-in-out;
}
.faq__question-toggle-icon {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-out;
}

/*# sourceMappingURL=style.css.map */
