*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: url('../assets/images/background-pattern-mobile.svg') no-repeat, $color-light-pink;
    background-position: top;
    background-size: contain;

    min-height: 100vh;
    padding: 20rem 3.2rem 3.2rem;

    display: flex;
    justify-content: center;
    align-items: start;

    @media screen and (min-width: 48em) {
        background: url('../assets/images/background-pattern-desktop.svg') no-repeat, $color-light-pink;
    }
}

img,
picture,
svg,
video,
canvas {
    display: block;
    max-width: 100%;
}

input,
textarea,
button,
select {
    font: inherit;
}

ul[class] {
    list-style: none;
}

button {
    border: none;
    background: none;
}
