// Colors
$color-white: hsl(0, 0%, 100%);
$color-light-pink: hsl(275, 100%, 97%);
$color-grayish-purple: hsl(292, 16%, 49%);
$color-dark-purple: hsl(292, 42%, 14%);

// Typography
$ff-primary: "Work Sans", sans-serif;
$fs-400: 1.6rem;
$fs-500: 1.8rem;
$fs-800: 3rem;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;
